In [2]:
import numpy as np
import pandas as pd

data visualization and data analysis with the datasets

In [21]:
df=pd.read_csv('temp/cashflowStatement_annually.csv')
df["endDate"].sort_values()

#if tech company and no cash, then probably tech company doesn't carry cash

4515     2012-07-12
2474     2012-12-31
2473     2013-12-31
16915    2013-12-31
2472     2014-12-31
            ...
14447    2020-04-30
13114    2020-04-30
14579    2020-04-30
16134    2020-04-30
15386    2020-05-02
Name: endDate, Length: 17511, dtype: object

In [14]:
print(df.columns)
print(df.shape) #including duplicate columns

Index(['stock', 'endDate', 'capitalExpenditures', 'changeToNetincome',
       'otherCashflowsFromFinancingActivities', 'changeToAccountReceivables',
       'changeToInventory', 'dividendsPaid',
       'otherCashflowsFromInvestingActivities', 'depreciation',
       'totalCashFromOperatingActivities', 'effectOfExchangeRate',
       'repurchaseOfStock', 'changeInCash', 'netIncome',
       'changeToOperatingActivities', 'totalCashFromFinancingActivities',
       'netBorrowings', 'totalCashflowsFromInvestingActivities',
       'changeToLiabilities', 'issuanceOfStock', 'investments'],
      dtype='object')
(17511, 22)

In [15]:
df["stock"].nunique() #unique stocks

4422

In [20]:
nonNull_df=df.dropna()
nonNull_df["stock"].nunique()

66